.heroContent {
  position: relative;
  background-image: url('/salsila-background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.heroContent::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.9) 0%, 
    rgba(0, 0, 0, 0.3) 25%, 
    transparent 50%, 
    rgba(0, 0, 0, 0.2) 75%, 
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none;
}

.heroContent > section {
  position: relative;
  z-index: 1;
}

.loginContainer {
   background-color: var(--primary-background-color);
   width: 40vw;
   height: 100vh;
   position: relative;
   left: 60vw;
   padding: 25rem 2rem;

   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.loginContainer p {
  font-size: 0.95em;
  color: var(--secondary-text-color);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.loginForm label {
  font-size: 0.75em;
  font-weight: 600;
}

.loginForm input {
  background-color: var(--secondary-background-color);
  border: none;
  height: 2rem;
  border-radius: 5px;
  padding: 0 10px;
  color: white;
}

.loginButton {
  background-color: var(--primary-color);
  height: 2.5rem;
  border-radius: 5px;
  
  font-weight: bold;
  font-size: 1.125em;
  width: 100%;

  margin-bottom: 0.2rem;
}

.loginButton:hover {
  background-color: var(--secondary-color);
}

.loginForm span {
  font-size: 0.8em;
}

.loginForm a {
  color: var(--primary-color);
}

.loginForm a:hover {
  color: var(--secondary-color);
}

.homeHeader {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: gray;
}

.homeHeader > nav {
  display: flex;
  font-weight: 500;
}

.homeHeader a {
  padding: 0 3rem 0.25rem 3rem;
  border-bottom: 1px solid gray;
  transition: color 1s ease, border-color 1s ease;
}

.homeHeader a:hover {
  color: var(--secondary-text-color);
  border-color: var(--secondary-text-color);
}

.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color) !important;
  pointer-event: none;
  cursor: default;
}

.active:hover {
  color: var(--primary-color) !important; 
  border-color: var(--primary-color) !important;
}